@media(max-width:768px){
    body{
        background-image:url(../img/black.jpg);
        background-size:100vw 100vh;
        
    }
    .video{
        border:none;
        margin: 0;
        width:100%;
        
    }
    h2,h3,h4{
        
        font-size: 29px;
    }
    #V{
       
        width: 98%;
        height: 450px;
        top:80px;
    }
    .sound{
        background-image: none;
        background: rgba(83, 83, 83, 0.61);
        border-radius: 15px;
        border-color: rgba(146, 146, 146, 0.466);
        margin-top: 10px;
        width:100%;
        height:120px;
        background-size: 50%;
        background-color: none;
        padding:10px;
        box-sizing: border-box;

    }
    #Audio{
       margin-left: 230px; 
    }
    
    h3{
        display:none;
    }
    h4{
        
        margin:0;
    }
}
@media (max-width:430px){
    body{
        background-size: 90vw 100vh;
    }
    
    .sound{
        position: relative;
        top:320px;
        width: 100%;
        left: 125px;
    }
    #Audio{
        position:relative;
        left:-180px;
        
    }
    h2{
        position:relative;
      left: 150px;
    }
    
    #V{
        position: relative;
       left: 80px;
        width: 500px;
        height: 350px;
        top:80px;
    }
    
    
}